@import "colors.css";

#osd {
  background-color: rgba(18, 19, 20, 0.48);
  border: 1px solid rgba(242, 243, 244, 0.16);
  border-radius: 24px;
  min-height: 48px;
  padding: 0 8px;
}

#container {
  margin: 0;
}

image {
  -gtk-icon-transform: scale(0.56);
  margin-right: -10px;
}

label {
  font-family: Geist, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: -4px;
  min-width: 32px;
}

image,
label {
  color: rgba(242, 243, 244, 0.64);
}

progressbar {
  min-height: 8px;
  min-width: 128px;
}

trough {
  background-color: rgba(242, 243, 244, 0.08);
  border: 1px solid rgba(242, 243, 244, 0.08);
  border-radius: 24px;
}

progress {
  background-color: rgba(242, 243, 244, 0.96);
}

progressbar:disabled,
image:disabled {
  opacity: 1;
}

progressbar:disabled trough {
  background-color: rgba(18, 19, 20, 0.48);
  border-color: rgba(240, 20, 64, 0.96);
}

progressbar:disabled progress {
  background-color: rgba(240, 20, 64, 0.96);
}
