# Ignore gh-cli known hosts file
hosts.yml

# Ignore easyeffects generated config files
.local/share/easyeffects/autoload
.local/share/easyeffects/irs
.local/share/easyeffects/rnnoise

# Ignore hyprpaper config
.config/hypr/hyprpaper.conf

# Ignore local lint and format
node_modules
biome.json
package.json
pnpm-lock.yaml
