# Ignore gh-cli known hosts file
hosts.yml

# Ignore easyeffects generated config files
.local/share/easyeffects/autoload
.local/share/easyeffects/irs
.local/share/easyeffects/rnnoise

# Ignore walker & elephant systemd request
.config/systemd/user/graphical-session.target.wants

# Ignore hyprpaper config
.config/hypr/hyprpaper.conf
