[Desktop Entry]
Icon=~/.local/icons/chromium.svg
Name=Chromium
Exec=chromium %U
Type=Application
Terminal=false
StartupNotify=true
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https
