[Desktop Entry]
Icon=/home/rsp/.local/icons/figma.svg
Name=Figma
Exec=chromium --app="https://figma.com/"
Type=Application
Terminal=false
StartupNotify=true
