[Desktop Entry]
Icon=/home/rsp/.local/icons/gemini.svg
Name=Gemini
Exec=chromium --app="https://gemini.google.com/"
Type=Application
Terminal=false
StartupNotify=true
