[Desktop Entry]
Icon=/home/rsp/.local/icons/github.svg
Name=GitHub
Exec=google-chrome-stable --app="https://github.com/"
Type=Application
Terminal=false
StartupNotify=true
