[Desktop Entry]
Icon=~/.local/icons/spotify.svg
Name=Spotify
Exec=chromium --app="https://open.spotify.com/"
Type=Application
Terminal=false
StartupNotify=true
