[Desktop Entry]
Icon=~/.local/icons/youtube-music.svg
Name=Music
Exec=chromium --app="https://music.youtube.com/"
Type=Application
Terminal=false
StartupNotify=true
